h1 {
    margin: 2rem auto;
    text-align: center;
}

.user-card,
.user-card-header {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 3fr 1fr;
}

.user-card {
    border-bottom: 0.1px solid lightgray;
}

.user-card-header {
    margin-top: 2rem;
    border-bottom: 2px solid black;
}

.user-card p,
.user-card-header p {
    align-self: center;
    justify-self: start;
    margin: 0;
}

.user-card .user-card-id,
.user-card-header .user-card-id {
    justify-self: center;
    margin: 0;
}

.user-card-img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin: .2rem;
    place-self: center;
}

.user-card-img-header {
    justify-self: center !important;
}

.user-email a {
    font-size: 12px;
    text-decoration: none;
}

@media (max-width: 550px) {
    .user-email {
        display: none;
    }
    .user-card-img,
    .user-card-img-header {
        grid-column: 4/6;
    }
}